.app-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

table {
  width: 70%;
  border: 1px solid;
  border-collapse: collapse;
  box-shadow: 0px 10px 40px 10px rgb(208, 255, 0);
  animation: anime 1s infinite alternate;
}

@keyframes anime {
  100% {
    box-shadow: 0px 10px 40px 10px rgb(206, 60, 60);
  }
}

th {
  width: 130px;
  height: 60px;
  border: 1px solid;
}
tr {
  border: 1px solid;
  height: 50px;
  text-transform: capitalize;
  text-align: center;
}
.inputs-container {
  margin-bottom: 30px;
  padding: 0;
}
.name-input-container {
  margin-bottom: 20px;
}
.label-text {
  margin: 10px;
  font-family: "Roboto";
  font-weight: 600;
}
.input-text {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-family: "Roboto";
  outline: none;
}

.drop-down {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  outline: none;
}

.submit-button {
  padding: 10px 15px 10px 15px;
  border: none;
  background-color: aqua;
  font-weight: 500;
  border-radius: 10px;
}
